body {
  padding: 0;
  margin: 0;
  background: #dadada;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: lexend;
}

.navbar {
  height: 80px;
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  background: #f2f2f2;
  height: calc(100vh - 100px);
  width: 1050px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.buttons {
  background: #eeeeee;
  border: 1px solid black;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(255, 255, 255);
  transform: translate(0, -2px);
}

.buttons p {
  margin: 0 20px 0 20px;
  font-size: 16px;
  font-weight: 700;
}

#button1 p {
  color: #000000;
}

#button2 p {
  color: #000000;
}

#button3 p {
  color: #000000;
}

#button4 p {
  color: #000000;
}

#button5 p {
  color: #000000;
}

#button6 p {
  color: #000000;
}

.content_container {
  height: 90%;
  width: 82%;
}

.main::-webkit-scrollbar {
  width: 15px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 4px;
  border: solid rgb(143, 143, 143) 1px;
  border-right: none;
}

.main::-webkit-scrollbar:hover {
}

.general_P {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.mainTitleOfDocument {
  color: #adadad;
  font-size: 220px;
  font-weight: 400;
  text-align: justify;
  font-size: 22px;
  font-weight: 700;
  margin: 0 20px 0 20px;
}

.insite_link {
  color: rgb(0, 0, 0);
}

.outsite_link {
  color: rgb(0, 58, 120);
}

/* HAM RADIO */

.titleOfDocumentCard {
  height: 45px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleOfDocumentCard_logoCard {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleOfDocumentCard_logoCard_titleCard {
  background: #e1e1e1;
  height: 50px;
  width: 780px;
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniTitlesOfDocument {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.FullWidthImg_Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FullWidthImg_Image {
  width: 100%;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  border: 1px solid rgb(64, 64, 64);
}

.TwohalfImageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0 35px 0;
}

.HalfWidthImg_Image {
  width: 49%;
  border-radius: 5px;
  border: 1px solid rgb(64, 64, 64);
}

/* TOPIC TITLE CARDS */

.topicListCard_container {
  margin-top: 10px;
}

.topicListCard {
  height: 45px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.topicListCard_imgCard {
  height: 40px;
  display: flex;
  align-items: center;
}

.topicListCard_imgCard img {
  height: 38px;
}

.topicListCard_nameCard {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
  background-color: #e1e1e1;
  border: solid rgb(40, 40, 40) 1px;
  border-radius: 5px;
}

.topicListCard_nameCard p {
  color: #000000;
  font-size: 16px;
  margin: 0 25px 0 25px;
  font-weight: 500;
}

.topicListCard_statusCard {
  height: 40px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  background-color: #e1e1e1;
  border: solid rgb(40, 40, 40) 1px;
  border-radius: 5px;
}

.topicListCard_statusCard p {
  color: #00648c;
  font-size: 16px;
  font-weight: 600;
}

.textCard {
  background-color: #eaeaea;
  border: solid rgb(53, 53, 53) 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 25px 0 25px 0;
}

.textCard_text {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin: 14px 15px 14px 15px;
}

/* PORTFOLIO */

.portfolioTitle_container {
  display: flex;
  justify-content: space-between;
}

.portfolieTitle_1 {
  height: 50px;
  width: 65%;
  background-color: #e1e1e1;
  border: solid rgb(52, 52, 52) 1px;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolieTitle_2 {
  height: 50px;
  width: 30%;
  background-color: #e1e1e1;
  border: solid rgb(30, 73, 82) 1px;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.portfolieTitle_2:hover {
  border: solid #1884a4 1px;
  background-color: #ffffff;
}

.portfolioTitle_1_text {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.portfolioTitle_2_text {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  text-decoration: none;
}

.designCard_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.designCard {
  height: 390px;
  width: 390px;
  border: solid rgb(51, 51, 51) 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designCard_section1 {
  width: 360px;
  margin-top: 15px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 4px;
}

.designCard_section2_container {
  height: 64px;
  width: 360px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.designCard_section2_img {
  height: 64px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 4px;
  margin-right: 6px;
}

.designCard_section2_imgCount {
  height: 64px;
  width: 122px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.designCard_section3 {
  height: 68px;
  width: 360px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.designCard_section3_description {
  width: 235px;
  height: 68px;
  border-radius: 4px;
  background: #f2f2f2;
  display: flex;
  border: 1px solid black;
}

.designCard_descriptionText {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
}

.designCard_section3_linkButtons {
  width: 120px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.designCard_section3_linkButtons_button {
  height: 32px;
  width: 100%;
  border-radius: 4px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid rgb(32, 32, 32);
}

.designCard_section3_linkButtons_logo {
  height: 20px;
}

.designCard_section3_linkButtons_button:hover {
  background-color: #ffffff;
}

.designCard:hover {
  background-color: #ffffff;
}

/* CONTACT */

.contact_infoCard {
  height: 45px;
  display: flex;
  align-items: center;
}

.contact_infoCard_logoCard {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.contact_infoCard_logoCard_image {
  height: 30px;
}

.contact_infoCard_textCard {
  margin-left: 30px;
}

.contactCard {
  background-color: #eaeaea;
  border: solid rgb(53, 53, 53) 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  width: 60%;
}

.contactCard_text {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin: 14px 15px 14px 15px;
}

.newContactCard {
}
